node_modules/
dist/
*.db
*.db-journal
*.db-wal
*.db-shm
*.opk
.DS_Store
Thumbs.db

/warframe-obsidian-vault

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
src/shared/data/generated/sync-meta.json
